@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: 'Outfit', sans-serif;
}

@import "tailwindcss";
/* Define the custom color variable globally */
:root {
  --primary: #0F766E;
  --secondary: #14B8A6;

  
}

/* Now define custom utility classes */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.active hr{
  display: block;

}

::-webkit-scrollbar{
  display:none
}


